:root {
	--pn-text-clr-base: hsl(220deg 80% 60% / 0.5);
	--pn-text-clr-dark: hsl(220deg 80% 40% / 0.9);
	--pn-text-clr-light: hsl(220deg 80% 80% / 0.7);
	--bg-color: hsl(220 15% 10%);
	background-color: var(--bg-color);
}

.main-wrapper {
	position: relative;
	/* height: 400vh; */
}

#logo {
	position: fixed;
	top: 8rem;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 200px;
	user-select: none;
	max-width: 800px;
}

#logo > h1 {
	font-family: 'Rubik', sans-serif;
	color: var(--pn-text-clr-base);
	font-size: 10rem;
	width: 100%;
	height: 100vh;
	min-height: 100%;
	position: absolute;
	left: 1rem;
	top: -6.5rem;
}

#logo > h1:first-of-type {
	color: var(--pn-text-clr-light);
}

#logo > h1:last-of-type {
	color: var(--pn-text-clr-dark);
}
.container {
	width: 450px;
	height: 600px;
	position: fixed;
	top: 0;
	right: 7rem;
	overflow: hidden;
	/* background-color: var(--pn-text-clr-base);  */
}

.image-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.image-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(
		circle,
		hsla(0, 0%, 100%, 0) 0%,
		var(--bg-color) 95%
	); /* Feather effect */
	pointer-events: none; /* Ensure the pseudo-element doesn't interfere with interactions */
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the image covers the container */
}

.letter-p {
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
	/* border: 1px solid green; */
	margin-block-start: 40rem;
	padding-inline-start: 1.25rem;
	padding-block-start: 1.5rem;
	font-size: 10rem;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1000;
}

.intro {
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0) 0%,
		hsl(240deg 14% 3% / 0.2) 11%,
		hsl(240deg 12% 3% / 0.6) 22%,
		hsl(240deg 12% 3% / 0.7) 33%,
		hsl(240deg 10% 3% / 0.8) 44%,
		hsl(240deg 9% 3% / 0.8) 56%,
		hsl(240deg 12% 3% / 0.7) 67%,
		hsl(240deg 12% 3% / 0.6) 78%,
		hsl(240deg 14% 3% / 0.2) 89%,
		hsl(240deg 15% 3% / 0) 100%
	);
	position: relative;
	height: min-content;
	top: 0;
	/* border: 1px solid blue; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 10rem 35rem;
}

.intro {
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
}

.intro-text {
	position: relative;
	top: 10rem;
	right: 0;
	max-width: 65ch;
	min-width: 40ch;
	grid-column: 2;
	grid-row: 2;
}

.intro-text > p {
	font-size: calc(36 / 16 * 1rem);
	padding-inline: 2rem;
	padding-block: 0.5rem;
	padding-block-end: 8rem;
}

.intro-text > p:first-of-type{
	padding-block-end: 1rem;
}

.sub-text {
	position: sticky;
	top: 2rem;
	left: 8rem;
	font-size: 10rem;
}
