.main-wrapper {
	position: relative;
	height: 400vh;
}

#logo {
	position: fixed;
	top: 8rem;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 200px;
	user-select: none;
	max-width: 800px;
}

#logo > h1 {
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 50% / 0.7);
	font-size: 10rem;
	width: 100%;
	height: 100vh;
	min-height: 100%;
	position: absolute;
	left: 1rem;
	top: -6.5rem;
}

#logo > h1:first-of-type {
	color: hsl(160deg 80% 50% / 0.7);
}

#logo > h1:last-of-type {
	color: hsl(240deg 80% 50% / 0.7);
}

.letter-p {
	font-family: 'Rubik', sans-serif;
	color: white;
	border: 1px solid green;
	margin-block-start: 40rem;
	padding-inline-start: 1.25rem;
	padding-block-start: 1.5rem;
	font-size: 10rem;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1000;
}

.intro {
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0.2) 0%,
		hsl(240deg 14% 3% / 0.3) 11%,
		hsl(240deg 12% 3% / 0.6) 22%,
		hsl(240deg 12% 3% / 0.7) 33%,
		hsl(240deg 10% 3% / 0.8) 44%,
		hsl(240deg 9% 3% / 0.8) 56%,
		hsl(240deg 12% 3% / 0.7) 67%,
		hsl(240deg 12% 3% / 0.6) 78%,
		hsl(240deg 14% 3% / 0.3) 89%,
		hsl(240deg 15% 3% / 0.2) 100%
	);
	position: relative;
	height: min-content;
	top: 0;
	border: 1px solid blue;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 10rem 35rem;
}

.intro {
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
}

.intro-text {
	position: relative;
	top: 10rem;
	right: 0;
	max-width: 55ch;
	min-width: 40ch;
	grid-column: 2;
	grid-row: 2;
}

.intro-text > p {
	font-size: calc(36 / 16 * 1rem);
	padding-inline: 2rem;
	padding-block: 0.5rem;
	padding-block-end: 8rem;
}

.sub-text {
	position: sticky;
	top: 2rem;
	left: 8rem;
	font-size: 10rem;
}
