@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&family=Just+Another+Hand&display=swap');

:root {
	--pn-text-clr-base: hsla(236, 72%, 47%, 0.5);
	--pn-text-clr-dark: hsla(229, 84%, 71%, 0.9);
	--pn-text-clr-light: hsla(238, 80%, 80%, 0.7);
	--bg-color: hsl(220 15% 10%);
	background-color: var(--bg-color);
}

#logo {
	/* position: fixed; */
	/* top: 8rem; */
	padding: 0;
	margin: 0;
	width: 100%;
	height: 0px;
	user-select: none;
	max-width: 800px;
	/* start messing with styles */
	grid-column: 2;
	position: sticky;
}

#logo > h1 {
	font-family: 'Rubik', sans-serif;
	color: var(--pn-text-clr-base);
	font-size: 10rem;
	/* width: 100%; */
	/* height: 100vh; */
	min-height: 100%;
	position: absolute;
	/* left: 1rem; */
	/* top: -6.5rem; */
}

#logo > h1:first-of-type {
	color: var(--pn-text-clr-light);
}

#logo > h1:last-of-type {
	color: var(--pn-text-clr-dark);
}
.container {
	width: 100%;
	height: 650px;
	display: grid;
	place-content: center;
	overflow: hidden;
	/* background-color: var(--pn-text-clr-base);  */
}

.image-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.image-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		hsla(0, 0%, 100%, 0) 0%,
		hsla(0, 0%, 100%, 0) 50%,
		var(--bg-color) 95%
	); /* Feather effect */
	pointer-events: none; /* Ensure the pseudo-element doesn't interfere with interactions */
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the image covers the container */
	border-radius: 50%;
}

.letter-p {
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
	/* border: 1px solid green; */
	/* padding-inline-start: 1rem;
	padding-block-start: 1rem; */
	font-size: 10rem;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1000;
	grid-column: 2;
}

.intro-wrapper {
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0) 0%,
		hsl(240deg 14% 3% / 0.2) 11%,
		hsl(240deg 12% 3% / 0.6) 22%,
		hsl(240deg 12% 3% / 0.7) 33%,
		hsl(240deg 10% 3% / 0.8) 44%,
		hsl(240deg 9% 3% / 0.8) 56%,
		hsl(240deg 12% 3% / 0.7) 67%,
		hsl(240deg 12% 3% / 0.6) 78%,
		hsl(240deg 14% 3% / 0.2) 89%,
		hsl(240deg 15% 3% / 0) 100%
	);
	grid-column: 1/-1;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 600px 600px 1fr;
	/* grid-template-rows: 10rem 35rem 20rem; */
	margin-block-end: 10rem;
}

.intro {
	position: relative;
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
	grid-column: 2/4;
	grid-row: 1/3;
	display: grid;
	grid-template-columns: 600px 600px;
	grid-template-rows: 10rem 35rem 20rem;
}

.intro-text {
	position: relative;
	top: 10rem;
	right: 0;
	max-width: 70ch;
	min-width: 40ch;
	grid-column: 2;
	grid-row: 2;
}

.hover-me-wrapper {
	display: flex;
	align-items: center;
	position: relative;
}

.hover-me {
	display: flex;
	align-items: center;
	position: absolute;
	left: 60px;
	top: 45px;
}

.hover-me > span {
	font-size: calc(32 / 16 * 1rem);
}

@keyframes bouncy {
	0% {
		transform: translateX(-15px);
	}
	50% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-15px);
	}
}

.arrow-left {
	animation: bouncy 1300ms ease-in-out infinite both;
	z-index: 99999;
}

.intro-text > p {
	font-size: calc(36 / 16 * 1rem);
	padding-inline: 2rem;
	padding-block: 0.5rem;
	padding-block-end: 8rem;
}

.intro-text > .greeting {
	font-size: 3.25rem;
}

.intro-text > p:first-of-type {
	padding-block-end: 1rem;
}

.intro-text > p > span {
	font-style: italic;
	font-weight: bold;
	font-family: 'Just Another Hand';
	font-size: 3.25rem;
	letter-spacing: 2px;
	line-height: 0;
}

.intro-text > p > .phil-name {
	display: inline-block;
	font-family: 'Rubik';
	position: relative;
}

.phil-name > img {
	position: absolute;
	top: 16px;
}

.intro-text > p > .react-underline {
	display: inline-block;
	font-family: 'Rubik';
	position: relative;
	font-size: revert;
	font-weight: revert;
	letter-spacing: revert;
}

.react-underline > img {
	position: absolute;
	top: 12px;
}

.intro-text > p > .style-underline {
	display: inline-block;
	font-family: 'Rubik';
	position: relative;
	font-size: revert;
	font-weight: revert;
	letter-spacing: revert;
}

.style-underline > img {
	position: absolute;
	top: 12px;
	height: 15px;
	width: 350px;
}

.passion {
	color: rgb(255, 0, 81);
}

.phlair {
	color: rgb(255, 234, 0);
}

.phit {
	color: rgb(0, 234, 255);
}

.phluid {
	color: rgb(111, 164, 255);
}

.phashion {
	color: rgb(250, 99, 218);
}

.phast {
	color: rgb(99, 250, 124);
}

.phoster {
	color: rgb(250, 104, 99);
}

.phriendly {
	color: rgb(230, 250, 99);
}

.phruitful {
	color: rgb(99, 250, 122);
}

.philanthropic {
	color: rgb(99, 184, 250);
}

.sub-text {
	position: sticky;
	top: 0;
	left: 0;
	padding-inline-start: 7rem;
	font-size: 10rem;
	margin-bottom: -8rem;
}

/* Smooth Layout Styles */

.layout-wrapper {
	display: grid;
	grid-gap: 4px;
	border: 2px solid hsl(0deg 0% 100% / 0.3);
	padding: 4px;
	/* margin: 0 auto; */
	width: 100%;
	min-width: 320px;
	max-width: 600px;
	/* aspect-ratio: 1 / 1; */
	grid-template-columns: 2fr 3fr 4fr;
	grid-template-rows: 20px 20px 2fr 4fr 5fr;
	margin-block-start: 6rem;
	margin-block-end: 4rem;
	grid-column: 1;
	grid-row: 2;
	position: sticky;
	top: 13rem;
	z-index: 10001;
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0.5) 0%,
		hsl(240deg 14% 3% / 0.6) 11%,
		hsl(240deg 12% 3% / 0.7) 22%,
		hsl(240deg 12% 3% / 0.8) 33%,
		hsl(240deg 10% 3% / 0.9) 44%,
		hsl(240deg 9% 3% / 0.9) 56%,
		hsl(240deg 12% 3% / 0.8) 67%,
		hsl(240deg 12% 3% / 0.7) 78%,
		hsl(240deg 14% 3% / 0.6) 89%,
		hsl(240deg 15% 3% / 0.5) 100%
	);
	border-radius: 8px;
}

.browser-circle-group {
	color: white;
	display: flex;
	grid-column: 1/ -1;
	grid-row: 1;
	padding-inline-start: 8px;
	gap: 8px;
	align-items: center;
}

.browser-circle-group > div {
	width: 8px;
	height: 8px;
	border-radius: 10000px;
}

.red-circle {
	background-color: rgb(233, 75, 75);
}

.yellow-circle {
	background-color: rgb(233, 209, 75);
}

.green-circle {
	background-color: rgb(122, 233, 75);
}

.browser-nav-group {
	color: rgba(255, 255, 255, 0.685);
	display: flex;
	grid-column: 1/ -1;
	grid-row: 2;
	padding-inline-start: 8px;
	gap: 8px;
	align-items: center;
}

.browser-nav-group > * {
	width: 12px;
}

.address-bar {
	display: flex;
	align-items: center;
	border: 1px solid hsl(0deg 0% 100% / 0.2);
	height: 16px;
	width: 80%;
	border-radius: 6px;
	font-size: 8px;
	padding-inline-start: 8px;
}

.box {
	border: 1px solid hsl(0deg 0% 100% / 0.2);
	background: hsl(240deg 15% 3%);
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 8px;
	cursor: pointer;
	transition: background 800ms;
	border-radius: 4px;
}
.box:hover {
	background: hsla(210, 86%, 12%);
	transition: background 100ms;
}
.box.selected {
	background: hsla(210, 86%, 12%);
	transition: background 200ms;
}
.box:nth-of-type(1) {
	grid-column: 1;
	grid-row: 4 / -1;
}
.box:nth-of-type(2) {
	grid-column: 1 / -1;
	grid-row: 3;
}
.box:nth-of-type(3) {
	grid-column: 2;
	grid-row: 4;
}
.box:nth-of-type(4) {
	grid-column: 2/-1;
	grid-row: 5;
}
.tile {
	display: grid;
	place-content: center;
	font-weight: bold;
	width: 42px;
	height: 42px;
	background: hsl(214, 22%, 44%);
	border-radius: 4px;
	z-index: 1;
}

.box {
	position: relative;
}

.phluid-box-text {
	position: absolute;
	z-index: 0;
	color: hsla(210, 86%, 92%, 0.7);
}

.box.selected .phluid-box-text {
	color: hsla(210, 86%, 12%);
}

.gradient-wrapper {
	border: 2px solid hsl(0deg 0% 100% / 0.3);
	padding: 32px;
	width: 600px;
	/* aspect-ratio: 1 / 1; */
	margin-block-start: 6rem;
	margin-block-end: 4rem;
	grid-column: 1;
	grid-row: 2;
	position: sticky;
	top: 13rem;
	z-index: 10001;
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0.5) 0%,
		hsl(240deg 14% 3% / 0.6) 11%,
		hsl(240deg 12% 3% / 0.7) 22%,
		hsl(240deg 12% 3% / 0.8) 33%,
		hsl(240deg 10% 3% / 0.9) 44%,
		hsl(240deg 9% 3% / 0.9) 56%,
		hsl(240deg 12% 3% / 0.8) 67%,
		hsl(240deg 12% 3% / 0.7) 78%,
		hsl(240deg 14% 3% / 0.6) 89%,
		hsl(240deg 15% 3% / 0.5) 100%
	);
	border-radius: 8px;
}

.sticker-clicker-wrapper {
	border: 2px solid hsl(0deg 0% 100% / 0.3);
	padding: 4px;
	width: 600px;
	/* aspect-ratio: 1 / 1; */
	margin-block-start: 6rem;
	margin-block-end: 4rem;
	grid-column: 1;
	grid-row: 2;
	position: sticky;
	top: 13rem;
	z-index: 10001;
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0.5) 0%,
		hsl(240deg 14% 3% / 0.6) 11%,
		hsl(240deg 12% 3% / 0.7) 22%,
		hsl(240deg 12% 3% / 0.8) 33%,
		hsl(240deg 10% 3% / 0.9) 44%,
		hsl(240deg 9% 3% / 0.9) 56%,
		hsl(240deg 12% 3% / 0.8) 67%,
		hsl(240deg 12% 3% / 0.7) 78%,
		hsl(240deg 14% 3% / 0.6) 89%,
		hsl(240deg 15% 3% / 0.5) 100%
	);
	border-radius: 8px;
}

.todo-wrapper {
	border: 2px solid hsl(0deg 0% 100% / 0.3);
	padding: 4px;
	width: 600px;
	/* aspect-ratio: 1 / 1; */
	margin-block-start: 6rem;
	margin-block-end: 4rem;
	grid-column: 1;
	grid-row: 2;
	position: sticky;
	top: 13rem;
	z-index: 10001;
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0.5) 0%,
		hsl(240deg 14% 3% / 0.6) 11%,
		hsl(240deg 12% 3% / 0.7) 22%,
		hsl(240deg 12% 3% / 0.8) 33%,
		hsl(240deg 10% 3% / 0.9) 44%,
		hsl(240deg 9% 3% / 0.9) 56%,
		hsl(240deg 12% 3% / 0.8) 67%,
		hsl(240deg 12% 3% / 0.7) 78%,
		hsl(240deg 14% 3% / 0.6) 89%,
		hsl(240deg 15% 3% / 0.5) 100%
	);
	border-radius: 8px;
}
