@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&family=Just+Another+Hand&display=swap');

:root {
	--pn-text-clr-base: hsla(236, 72%, 47%, 0.5);
	--pn-text-clr-dark: hsla(229, 84%, 71%, 0.9);
	--pn-text-clr-light: hsla(238, 80%, 80%, 0.7);
	--bg-color: hsl(220 15% 10%);
	background-color: var(--bg-color);
}

#logo {
	/* position: fixed; */
	/* top: 8rem; */
	padding: 0;
	margin: 0;
	width: 100%;
	height: 0px;
	user-select: none;
	max-width: 800px;
	/* start messing with styles */
	grid-column: 2;
	position: sticky;
}

#logo > h1 {
	font-family: 'Rubik', sans-serif;
	color: var(--pn-text-clr-base);
	font-size: 10rem;
	/* width: 100%; */
	/* height: 100vh; */
	min-height: 100%;
	position: absolute;
	/* left: 1rem; */
	/* top: -6.5rem; */
}

#logo > h1:first-of-type {
	color: var(--pn-text-clr-light);
}

#logo > h1:last-of-type {
	color: var(--pn-text-clr-dark);
}
.container {
	width: 100%;
	height: 650px;
	display: grid;
	place-content: center;
	overflow: hidden;
	/* background-color: var(--pn-text-clr-base);  */
}

.image-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.image-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		hsla(0, 0%, 100%, 0) 0%,
		hsla(0, 0%, 100%, 0) 50%,
		var(--bg-color) 95%
	); /* Feather effect */
	pointer-events: none; /* Ensure the pseudo-element doesn't interfere with interactions */
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the image covers the container */
	border-radius: 50%;
}

.letter-p {
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
	/* border: 1px solid green; */
	/* padding-inline-start: 1rem;
	padding-block-start: 1rem; */
	font-size: 10rem;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1000;
	grid-column: 2;
}

.intro-wrapper {
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0) 0%,
		hsl(240deg 14% 3% / 0.2) 11%,
		hsl(240deg 12% 3% / 0.6) 22%,
		hsl(240deg 12% 3% / 0.7) 33%,
		hsl(240deg 10% 3% / 0.8) 44%,
		hsl(240deg 9% 3% / 0.8) 56%,
		hsl(240deg 12% 3% / 0.7) 67%,
		hsl(240deg 12% 3% / 0.6) 78%,
		hsl(240deg 14% 3% / 0.2) 89%,
		hsl(240deg 15% 3% / 0) 100%
	);
	grid-column: 1/-1;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 600px 600px 1fr;
	/* grid-template-rows: 10rem 35rem 20rem; */
	margin-block-end: 10rem;
}

.intro {
	position: relative;
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
	grid-column: 2/4;
	grid-row: 1/3;
	display: grid;
	grid-template-columns: 600px 600px;
	grid-template-rows: 10rem 35rem 20rem;
}

.intro-text {
	position: relative;
	top: 10rem;
	right: 0;
	max-width: 65ch;
	min-width: 40ch;
	grid-column: 2;
	grid-row: 2;
}

.hover-me {
	display: grid;
	place-content: left;
	position: relative;
}

.hover-me > span {
	position: absolute;
	left: 68px;
	top: -36px;
	font-family: 'Just Another Hand';
	font-size: 64px;
	transform: rotate(-15deg);
}

.hover-me > img {
	position: absolute;
	left: -20px;
	top: 30px;
	width: 250px;
	transform: rotate(-5deg);
}

.intro-text > p {
	font-size: calc(36 / 16 * 1rem);
	padding-inline: 2rem;
	padding-block: 0.5rem;
	padding-block-end: 8rem;
}

.intro-text > p:first-of-type {
	padding-block-end: 1rem;
}

.intro-text > p > span {
	font-style: italic;
	font-weight: bold;
	font-family: 'Just Another Hand';
	font-size: 3.25rem;
}

.passion {
	color: rgb(255, 0, 81);
}

.phlair {
	color: rgb(255, 234, 0);
}

.phit {
	color: rgb(0, 234, 255);
}

.phluid {
	color: rgb(111, 164, 255);
}

.phashion {
	color: rgb(250, 99, 218);
}

.phast {
	color: rgb(99, 250, 124);
}

.phoster {
	color: rgb(250, 104, 99);
}

.phriendly {
	color: rgb(230, 250, 99);
}

.phruitful {
	color: rgb(99, 250, 122);
}

.philanthropic {
	color: rgb(99, 184, 250);
}

.sub-text {
	position: sticky;
	top: 0;
	left: 0;
	padding-inline-start: 7rem;
	font-size: 10rem;
	margin-bottom: -8rem;
}

.iMac-wrapper {
	perspective: 750px;
	cursor: pointer;
	padding-block-start: 10rem;
	padding-block-end: 10rem;
	grid-column: 1;
	grid-row: 2;
	position: sticky;
	top: 6rem;
	z-index: 10001;
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0) 0%,
		hsl(240deg 14% 3% / 0.2) 11%,
		hsl(240deg 12% 3% / 0.6) 22%,
		hsl(240deg 12% 3% / 0.7) 33%,
		hsl(240deg 10% 3% / 0.8) 44%,
		hsl(240deg 9% 3% / 0.8) 56%,
		hsl(240deg 12% 3% / 0.7) 67%,
		hsl(240deg 12% 3% / 0.6) 78%,
		hsl(240deg 14% 3% / 0.2) 89%,
		hsl(240deg 15% 3% / 0) 100%
	);
}

.iMac {
	position: relative;
	height: 350px;
	width: 520px;
	left: 2rem;

	background-image: linear-gradient(
		90deg,
		hsl(240deg 2% 90%) 0%,
		hsl(240deg 4% 89%) 17%,
		hsl(240deg 5% 88%) 25%,
		hsl(240deg 6% 86%) 31%,
		hsl(240deg 6% 85%) 37%,
		hsl(231deg 8% 83%) 42%,
		hsl(233deg 9% 82%) 47%,
		hsl(228deg 1% 80%) 53%,
		hsl(224deg 1% 74%) 58%,
		hsl(223deg 2% 68%) 63%,
		hsl(224deg 2% 66%) 69%,
		hsl(220deg 4% 65%) 75%,
		hsl(219deg 5% 63%) 83%,
		hsl(217deg 6% 62%) 100%
	);
	border-radius: 4px;
	transform: rotateY(0deg);
	transition: transform 600ms ease-in-out;
	transform-style: preserve-3d;
	border-left: 5px solid hsl(217deg 6% 72%);
}

svg {
	position: absolute;
	width: 25px;
	left: 50%;
	right: 50%;
	bottom: 20px;
}

.screen {
	display: grid;
	grid-template-areas:
		'header header header'
		'main main sidebar'
		'main main sidebar';
	grid-template-rows: 25% 1fr;
	grid-template-columns: 1fr 2fr 1fr;
	perspective: 750px;
	gap: 5px;
	position: absolute;
	border: 4px solid transparent;
	inset: 10px 10px 60px 10px;
	background-color: hsl(0, 2%, 10%);
	transform: translate3D(0px, 0, 0px);
	border-radius: 3px 3px 0px 0px;
	transition: transform 600ms ease-in-out, border 600ms ease-in-out;
	transform-style: inherit;
}

.item {
	border: 4px solid;
	transform: translate3D(0px, 0, 0px);
	transform-style: inherit;
	background-color: hsl(0, 2%, 10%);
	border-radius: 2px;
	display: grid;
	place-content: center;
	font-size: calc(24 / 16 * 1rem);
}

.item.one {
	grid-area: header;
	border-color: hsl(113, 85%, 74%);
	transition: transform 800ms ease-in-out, background-color 1000ms ease-in-out,
		color 1000ms ease-in-out;
}

.item.two {
	grid-area: main;
	border-color: hsl(343, 100%, 50%);
	transition: transform 1200ms ease-in-out, background-color 1500ms ease-in-out,
		color 2000ms ease-in-out;
	font-size: calc(64 / 16 * 1rem);
}

.item.three {
	grid-area: sidebar;
	border-color: hsl(240, 100%, 69%);
	transition: transform 1500ms ease-in-out, background-color 2000ms ease-in-out,
		color 2500ms ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: calc(36 / 16 * 1rem);
}

.iMac-wrapper:hover .iMac {
	transform: rotateY(40deg);
}

.iMac-wrapper:hover .screen {
	transform: translate3D(30px, -10px, 100px);
	border-color: white;
}

.iMac-wrapper:hover .item.one {
	transform: translate3D(60px, -10px, 40px);
	background-color: hsl(113, 85%, 74%);
	color: hsl(240, 5%, 21%);
}

.iMac-wrapper:hover .item.two {
	transform: translate3D(0px, 30px, 60px);
	background-color: hsl(343, 100%, 50%);
	color: hsl(240, 5%, 21%);
}

.iMac-wrapper:hover .item.three {
	transform: translate3D(30px, -20px, 90px);
	background-color: hsl(240, 100%, 69%);
	color: hsl(240, 5%, 21%);
}

/* Smooth Layout Styles */

.layout-wrapper {
	display: grid;
	grid-gap: 4px;
	border: 2px solid hsl(0deg 0% 100% / 0.3);
	padding: 4px;
	/* margin: 0 auto; */
	width: 100%;
	min-width: 320px;
	max-width: 600px;
	/* aspect-ratio: 1 / 1; */
	grid-template-columns: 2fr 3fr 4fr;
	grid-template-rows: 2fr 4fr 5fr;
	margin-block-start: 6rem;
	margin-block-end: 4rem;
	grid-column: 1;
	grid-row: 2;
	position: sticky;
	top: 13rem;
	z-index: 10001;
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0) 0%,
		hsl(240deg 14% 3% / 0.2) 11%,
		hsl(240deg 12% 3% / 0.6) 22%,
		hsl(240deg 12% 3% / 0.7) 33%,
		hsl(240deg 10% 3% / 0.8) 44%,
		hsl(240deg 9% 3% / 0.8) 56%,
		hsl(240deg 12% 3% / 0.7) 67%,
		hsl(240deg 12% 3% / 0.6) 78%,
		hsl(240deg 14% 3% / 0.2) 89%,
		hsl(240deg 15% 3% / 0) 100%
	);
}
.box {
	border: 1px solid hsl(0deg 0% 100% / 0.2);
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 16px;
	cursor: pointer;
	transition: background 800ms;
}
.box:hover {
	background: hsla(210, 86%, 72%, 0.07);
	transition: background 100ms;
}
.box.selected {
	background: hsla(210, 86%, 72%, 0.431);
	transition: background 200ms;
}
.box:nth-of-type(1) {
	grid-column: 1;
	grid-row: 2 / -1;
}
.box:nth-of-type(2) {
	grid-column: 1 / 4;
	grid-row: 1;
}
.box:nth-of-type(3) {
	grid-column: 2/-1;
	grid-row: 2;
}
.box:nth-of-type(4) {
	grid-column: 2;
	grid-row: 3;
}
.coin {
	width: 32px;
	height: 32px;
	background: hsl(214, 22%, 44%);
	border-radius: 1000px;
}
