@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

:root {
	--pn-text-clr-base: hsla(236, 72%, 47%, 0.5);
	--pn-text-clr-dark: hsla(229, 84%, 71%, 0.9);
	--pn-text-clr-light: hsla(238, 80%, 80%, 0.7);
	--bg-color: hsl(220 15% 10%);
	background-color: var(--bg-color);
}

.activated::after {
	content: 'ãƒ»';
	position: absolute;
	left: 1px;
	width: 100%;
	text-align: center;
	bottom: -28px;
	font-size: 24px;
	z-index: 32;
	color: white;
}

.content {
	z-index: 10000;
	padding: 2px 12px;
	border: 1px solid hsla(0, 0%, 40%);
	background-color: hsla(0, 0%, 16%);
	border-radius: 6px;
	color: white;
	font-size: 0.875rem;
	text-align: center;
	filter: drop-shadow(0px 4px 8px hsl(245deg 100% 40% / 0.2));
}

.content SVG {
	fill: hsla(0, 0%, 16%);
	filter: drop-shadow(-1px 1px 0px hsla(0, 0%, 40%))
		drop-shadow(1px 1px 0px hsla(0, 0%, 40%));
}

#logo {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 0px;
	user-select: none;
	max-width: 800px;
	/* start messing with styles */
	grid-column: 2;
	position: sticky;
}

#logo > h1 {
	font-family: 'Rubik', sans-serif;
	color: var(--pn-text-clr-base);
	font-size: 10rem;
	width: 100%;
	/* height: 100vh; */
	min-height: 100%;
	position: absolute;
	/* left: 1rem; */
	/* top: -6.5rem; */
}

@media (max-width: 550px) {
	#logo > h1 {
		font-size: 6rem;
	}
}

#logo > h1:first-of-type {
	color: var(--pn-text-clr-light);
}

#logo > h1:last-of-type {
	color: var(--pn-text-clr-dark);
}
/* Phil image went here*/

.intro-wrapper {
	background-image: linear-gradient(
		180deg,
		hsl(240deg 15% 3% / 0) 0%,
		hsl(240deg 15% 3% / 0.1) 5%,
		hsl(240deg 15% 3% / 0.3) 10%,
		hsl(240deg 15% 3% / 0.6) 15%,
		hsl(240deg 15% 3% / 0.7) 20%,
		hsl(240deg 15% 3% / 0.8) 25%,
		hsl(240deg 15% 3% / 0.85) 30%,
		hsl(240deg 15% 3% / 0.9) 40%,
		hsl(240deg 15% 3% / 0.95) 50%,
		hsl(240deg 15% 3% / 0.95) 60%,
		hsl(240deg 15% 3% / 0.9) 65%,
		hsl(240deg 15% 3% / 0.85) 70%,
		hsl(240deg 15% 3% / 0.8) 75%,
		hsl(240deg 15% 3% / 0.7) 80%,
		hsl(240deg 15% 3% / 0.6) 85%,
		hsl(240deg 15% 3% / 0.3) 90%,
		hsl(240deg 15% 3% / 0.1) 95%,
		hsl(240deg 15% 3% / 0) 100%
	);
	grid-column: 1/-1;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 600px 600px 1fr;
	/* grid-template-rows: 10rem 35rem 20rem; */
	margin-block-end: 10rem;
}

@media screen and (max-width: 550px) {
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-column: 1 / -1;
	}

	#logo {
		/* position: fixed; */
		/* top: 8rem; */
		padding: 0;
		margin: 0;
		width: 100%;
		height: 0;
		user-select: none;
		/* max-width: 500px; */
		/* start messing with styles */
		grid-column: 1 / -1;
		position: sticky;
	}
}

.intro {
	position: relative;
	font-family: 'Rubik', sans-serif;
	color: hsl(200deg 80% 90%);
	grid-column: 2 / -2;
	grid-row: 1/3;
	display: grid;
	gap: 32px;
	padding-inline: 8px;
	/* grid-template-columns: 1fr 600px 600px 1fr; */
	grid-template-rows: 10rem 35rem 20rem;
}

@media screen and (max-width: 550px) {
	.intro {
		grid-column: 1;
		gap: 0;
		padding: 0;
		margin: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 10rem 1fr 1fr;
		z-index: 99999999;
	}
}

.intro-text {
	position: relative;
	font-family: 'Rubik';
	top: 10rem;
	right: 0;
	max-width: 30ch;
	/* min-width: 30ch; */
	grid-column: 2;
	grid-row: 2;
	font-size: calc(36 / 16 * 1rem);
}

@media screen and (max-width: 550px) {
	.intro-text {
		/* grid-template-columns: 16px 1fr 16px; */
		grid-column: 1;
		grid-row: 2;
		font-size: calc(24 / 16 * 1rem);
		max-width: 27ch;
		min-width: 25ch;
		padding-inline: 22px;

		background-image: linear-gradient(
			180deg,
			hsl(240deg 15% 3% / 0) 0%,
			hsl(240deg 15% 3% / 0.1) 5%,
			hsl(240deg 15% 3% / 0.3) 10%,
			hsl(240deg 15% 3% / 0.6) 15%,
			hsl(240deg 15% 3% / 0.7) 20%,
			hsl(240deg 15% 3% / 0.8) 25%,
			hsl(240deg 15% 3% / 0.85) 30%,
			hsl(240deg 15% 3% / 0.9) 40%,
			hsl(240deg 15% 3% / 0.95) 50%,
			hsl(240deg 15% 3% / 0.95) 60%,
			hsl(240deg 15% 3% / 0.9) 65%,
			hsl(240deg 15% 3% / 0.85) 70%,
			hsl(240deg 15% 3% / 0.8) 75%,
			hsl(240deg 15% 3% / 0.7) 80%,
			hsl(240deg 15% 3% / 0.6) 85%,
			hsl(240deg 15% 3% / 0.3) 90%,
			hsl(240deg 15% 3% / 0.1) 95%,
			hsl(240deg 15% 3% / 0) 100%
		);
	}
}

/* Hover-me styles went here */

/* Intro Text */

.intro-text > p {
	/* padding-inline: 2rem; */
	padding-block: 0.5rem;
	padding-block-end: 8rem;
}

.intro-text > .greeting {
	font-size: 3.25rem;

	@media (max-width: 550px) {
		font-size: 2.65rem;
	}
}

.intro-text > p:first-of-type {
	padding-block-end: 1rem;
}

.intro-text > p > span {
	font-style: italic;
	font-weight: bold;
	font-family: 'Rubik';
	/* font-size: 3.25rem; */
	letter-spacing: 1px;
	line-height: 0;
}

.intro-text > p > .react-underline {
	display: inline-block;
	font-family: 'Rubik';
	position: relative;
	font-size: revert;
	font-weight: revert;
	letter-spacing: revert;
}

.react-underline > img {
	position: absolute;
	top: 12px;
}

@media (max-width: 550px) {
	.react-underline > img {
		top: 8px;
	}
}

.intro-text > p > .style-underline {
	display: inline-block;
	font-family: 'Rubik';
	position: relative;
	font-size: revert;
	font-weight: revert;
	letter-spacing: revert;
}

.style-underline > img {
	position: absolute;
	top: 12px;
	height: 15px;
	width: 350px;
}

@media (max-width: 550px) {
	.style-underline > img {
		top: 6px;
	}
}

/* floaty fire and lame styles went here */

.phlair {
	color: rgb(255, 234, 0);
}

.phit {
	color: rgb(0, 234, 255);
}

.phluid {
	color: rgb(111, 164, 255);
}

.phashion {
	color: rgb(250, 99, 218);
}

.phast {
	color: rgb(99, 250, 124);
}

.phoster {
	color: rgb(250, 104, 99);
}

.phriendly {
	color: rgb(230, 250, 99);
}

.phruitful {
	color: rgb(99, 250, 122);
}

.philanthropic {
	color: rgb(99, 184, 250);
}

.sub-text {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding-inline-start: 12.75rem;
	font-size: 10rem;
	margin-bottom: -8rem;
	font-weight: bold;

	font-family: 'Rubik', sans-serif;
	-webkit-text-stroke: 2px hsl(240deg 30% 70% / 0.9);
	color: hsl(0deg 0% 0% / 0.8);
	font-size: 10rem;
	position: sticky;
}

@media screen and (max-width: 550px) {
	.sub-text {
		font-size: 6rem;
		padding: 0;
		margin: 0;
		top: 0px;
		padding-inline-start: 8.85rem;
		z-index: -1;
	}
}

/* Interactive Browser (Motion Layout) styles went here */

/* Gradient Generator sytles went here */

/* Sticker Clicker styles went here */
